*{#{extends 'main.html'/}}*
*{#{set title = 'Home'/}}*

<link rel="stylesheet" type="text/css" href="/public/jquery-easyui-1.7.0/themes/default/easyui.css">
<link rel="stylesheet" type="text/css" href="//at.alicdn.com/t/font_1370388_jjqex1aftp.css">
<link rel="stylesheet" type="text/css" href="/public/jquery-easyui-1.7.0/themes/icon.css">
<script type="text/javascript" src="/public/jquery-easyui-1.7.0/jquery.min.js"></script>
<script type="text/javascript" src="/public/jquery-easyui-1.7.0/jquery.easyui.min.js"></script>
<script src="//at.alicdn.com/t/font_1370388_jjqex1aftp.js"></script>
<script type="text/javascript" src="@{'/public/javascripts/easyui-lang-zh_CN.js'}"></script>
<script type="text/javascript" src="@{'/public/javascripts/getAllStudents.js'}"></script>
<style>

a:hover{
    color: #000000;
    font-size: 20px;
}

a:visited{
    color: #013fc2;
}

/*去掉超链接下划线*/
a{ text-decoration:none}

@font-face {
    font-family: 'iconfont';  /* project id 1370388 */
    src: url('//at.alicdn.com/t/font_1370388_jjqex1aftp.eot');
    src: url('//at.alicdn.com/t/font_1370388_jjqex1aftp.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_1370388_jjqex1aftp.woff2') format('woff2'),
    url('//at.alicdn.com/t/font_1370388_jjqex1aftp.woff') format('woff'),
    url('//at.alicdn.com/t/font_1370388_jjqex1aftp.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_1370388_jjqex1aftp.svg#iconfont') format('svg');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}
</style>

<div id="box" style="">

    <div  data-options="region:'south',title:'footer',noheader:true" style="height: 35px;line-height: 30px;text-align: center;background: #DCDCDC">
        <a href="#" >联系我们</a>
    </div>
    <div id="ll"class="easyui-accordion" data-options="region:'west',title:'管理操作栏'," style="width: 250px; padding: 10px; ">
        <ul id="tt" class="easyui-tree">
            <span class="iconfont icon-wenjianjia"></span>
            <li>
                <span >

                    管理
                </span>
                    <ul >
                        <li >
                            <span >
                                <a href="#"  onclick="addTab('班级表','http://localhost:9000/Manager/getAllClasses')">
                                    <span ></span>
                                    班级列表
                                </a>
                            </span>
                        </li>
                        <li>
                            <span>班级列表</span>
                            <ul>
                            #{list items:allClasses, as:'classes'}
                                <li><span>
                                    <a href="#" onclick="addTab('学生表','http://localhost:9000/Manager/centerStudent')">${classes.cName}</a>
                                </span></li>
                            #{/list}
                            </ul>
                        </li>
                        <li>
                            <span>班级成绩</span>
                            <ul>
                            #{list items:allClasses, as:'classes'}
                                <li><span>
                                    <a href="#" onclick="addTab('成绩表','http://localhost:9000/Manager/showGrade')">${classes.cName}</a>
                                </span></li>
                            #{/list}
                            </ul>
                        </li>
                        <li>
                            <span>教师管理</span>
                            <ul>
                                <li><span><a href="#">File 11</a></span></li>
                                <li><span>File 12</span></li>
                                <li><span>File 13</span></li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
*{    <div title="About" data-options="iconCls:'icon-c'" style="overflow:auto;padding:10px;width: 100%;background-color:#fff">}*
*{        <a href="#"  onclick="addTab('班级表','http://localhost:9000/Manager/getAllClasses')">}*
*{            班级列表}*
*{        </a>}*
*{    </div>}*
*{    <div title="Help" data-options="iconCls:'icon-help'" style="padding:10px;">}*
*{        <p>The accordion allows you to provide multiple panels and display one or more at a time. Each panel has built-in support for expanding and collapsing. Clicking on a panel header to expand or collapse that panel body. The panel content can be loaded via ajax by specifying a 'href' property. Users can define a panel to be selected. If it is not specified, then the first panel is taken by default.</p>}*
*{    </div>}*
*{    <div title="TreeMenu" data-options="iconCls:'icon-search'" style="padding:10px;">}*
*{        <ul class="easyui-tree">}*
*{            <li>}*
*{                <span>Foods</span>}*
*{                <ul>}*
*{                    <li>}*
*{                        <span>Fruits</span>}*
*{                        <ul>}*
*{                            <li>apple</li>}*
*{                            <li>orange</li>}*
*{                        </ul>}*
*{                    </li>}*
*{                    <li>}*
*{                        <span>Vegetables</span>}*
*{                        <ul>}*
*{                            <li>tomato</li>}*
*{                            <li>carrot</li>}*
*{                            <li>cabbage</li>}*
*{                            <li>potato</li>}*
*{                            <li>lettuce</li>}*
*{                        </ul>}*
*{                    </li>}*
*{                </ul>}*
*{            </li>}*
*{        </ul>}*
*{    </div>}*

    </div>
*{    <div id="north" data-options="region:'north',title:'header',noheader:true" style="height: 70px;background-color: #F0F8FF">}*
*{        <div style="color:#0081C2;" >}*
*{            <h2>后台管理</h2>}*
*{        </div>}*
*{    </div>}*
    <div id="box"  data-options="region:'center'" style="overflow:hidden" >

        <div id="tab" class="easyui-tabs" fit="true">
            <div title="Home" data-options="iconCls:'icon-help'">
                <div style="text-align: center;line-height:200px">
                    <h1>后台管理界面</h1>
                </div>
            </div>
        </div>

    </div>
</div>

