*{#{extends 'main.html' /}}*
*{#{set title:'Home' /}}*
<link  rel="stylesheet"type="text/css" href="@{'/public/stylesheets/easyui.css'}">
<link rel="stylesheet" type="text/css" href="@{'/public/stylesheets/icon.css'}">
<script type="text/javascript" src="@{'/public/javascripts/jquery-1.6.4.min.js'}"></script>
<script type="text/javascript" src="@{'/public/javascripts/jquery.easyui.min.js'}"></script>
<script type="text/javascript" src="@{'/public/javascripts/easyui-lang-zh_CN.js'}"></script>


<div class="easyui-panel" title="编辑信息" data-options="iconCls:'icon-edit'" style="width:400px">
    <div style="padding:10px 60px 20px 60px;">
        <form action="@{Manager.updateSuccess()}" method="get">
            <table >
                <tr>
                    <td>学生编号</td>
                    <td>
                        ${updateStudent.sId}
                    </td>
                </tr>
                <tr>
                    <td>学生姓名</td>
                    <td>
                        <input type="hidden" value="${updateStudent.sId}" name="updateStudent.sId" />
                        <input type="text" value="${updateStudent.sName}" name="updateStudent.sName" class="easyui-textbox" data-options="required:true"/>
                    </td>
                </tr>
                <tr>
                    <td>班级编号</td>
                    <td>
                        <input type="hidden" value="${updateStudent.sId}" name="updateStudent.sId"/>
                        <input type="text" value="${updateStudent.cId}" name="updateStudent.cId" class="easyui-textbox" data-options="required:true"/>
                    </td>
                </tr>
            </table>
            <div style="text-align:center">
                <input type="submit" value="保存" class="easyui-linkbutton">
                <input type="submit" value="返回" formaction="@{Manager.getAllStudents()}" formmethod="get" class="easyui-linkbutton">
            </div>
        </form>
    </div>
</div>